* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
section {
  padding: 0rem 10rem 0rem 10rem;
}
.hero {
  /* height: 45.9rem; */
  height: 36.9rem;
  width: 100vw;
  background: transparent linear-gradient(180deg, #e5f8ff 0, #fff 100%) 0 0 no-repeat padding-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.career-hero {
  /* width: 1170px; */
  display: flex;
}
.col {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.head1 {
  margin-top: 8rem;
  display: flex;
}
.hero-title {
  text-align: left;
  font-family: Poppins, ExtraLight;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #0099cc;
  opacity: 1;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.para p {
  flex-wrap: wrap;
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.button {
  margin-top: 2.5rem;
  padding: 0.8em 1.5em;
  color: #fbfcfc;
  font-size: 1rem;
  text-decoration: none;
  border: 0.1rem solid #0099cc;
  background-color: #0099cc;
}
.right {
  top: 3.6rem;
  left: 5rem;
  right: 5rem;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  /* vertical-align: middle; */
  overflow-clip-margin: content-box;
  overflow: clip;
  border: 0;
}
.headline {
  background-color: #0099cc;
  padding-top: 0;
  padding-bottom: 8rem;
}
.blue {
  padding-top: 2rem;
  color: #fbfcfc;
  flex-wrap: wrap;
}

@media (max-width: 820px){
  .hero {
    height: 27.9rem;
  }
  .head1{
    margin-top: 2rem;
  }
.head1 h1{
  font-size: 2rem;
  margin-bottom: 0;
}
.blue{
  font-size: 2rem;
}
.right {
  top: 4rem;
  left: auto;
  right: auto;
}
}
@media (max-width: 426px) {
  section {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .hero{
    height: 15rem;
  
  }
  .career-hero {
    flex-flow: column;
    width: 100vw;
  }
  .right{
    visibility: hidden;
    display: none;
  }
  .left {
    width: 65vw;
    padding: 0 1rem 0 1rem;
  }
  .head1{
    margin-top: 4rem;
  }
  .head1 h1{
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .para p{
    line-height: 1.2;
    font-size: 0.5rem;
    padding-right:0.5rem;
  }
  .button {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .headline h2{
    font-size: 1rem;
    padding: 1rem;
  }
  .headline{
    padding-bottom: 3rem;
  }
  
}
